name: Qodana
on:
  workflow_dispatch:
  push:
      branches: [ "main" ]
  
jobs:
  gradle:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Execute Gradle build
        run: ./gradlew build
      - name: 'MC Publish'
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: lS2PKjpV
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          modrinth-featured: true
  qodana:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2023.2
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
